<!DOCTYPE html>
<html lang="fr">
    <head runat="server">
        <%: Html.Partial("_Header") %>
        <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    </head>

    <body>
        <div id="header">
            <h1><a href="<%: Url.Action("Index", "Home")%>">Logo</a></h1>
        </div><!--header-->
         
        <div id="user-nav" class="navbar navbar-inverse">
                <%: Html.Partial("_LoginPartial") %>

        </div><!-- user-nav -->
               
        <div id="sidebar">
                <ul>
                    <!-- Actualités -->
                    <li <%if ((Request.Url.AbsolutePath).IndexOf("Actuality") > 0) Response.Write("class=\"active\""); %>><a href="<%: Url.Action("Index", "Home")%>"><i class="icon icon-home"></i><span>Actualites</span></a></li>
                    <!-- Tableau de bord -->
                    <li <%if ((Request.Url.AbsolutePath).IndexOf("Dashboard") > 0) Response.Write("class=\"active\""); %>><a href="<%: Url.Action("Index", "Dashboard")%>"><i class="icon icon-road"></i><span>Tableau de bord</span></a></li>
                    <!-- Programmes -->
                    <li class="submenu<%if ((Request.Url.AbsolutePath).IndexOf("Program") > 0) Response.Write(" active open"); %>">
                        <a href="#"><i class="icon icon-th-list"></i> <span>Mes programmes</span></a>
                        <ul>
                            <li <%if ((Request.Url.AbsolutePath).IndexOf("ListProgram") > 0) Response.Write("class=\"active\""); %>><a href="<%: Url.Action("About", "Home")%>"><i class="icon icon-list-alt"></i><span> Liste programmes</span></a></li>
                            <li <%if ((Request.Url.AbsolutePath).IndexOf("CreateProgram") > 0) Response.Write("class=\"active\""); %>><a href="<%: Url.Action("About", "Home")%>"><i class="icon icon-plus-sign"></i><span> Créer programme</span></a></li>
                        </ul>
                    </li>
                    <!-- Repas -->
                    <li class="submenu<%if ((Request.Url.AbsolutePath).IndexOf("Meal") > 0) Response.Write(" active open"); %>">
                        <a href="#"><i class="icon icon-glass"></i> <span>Mes repas</span></a>
                        <ul>
                            <li <%if ((Request.Url.AbsolutePath).IndexOf("ListMeal") > 0) Response.Write("class=\"active\""); %>><a href="<%: Url.Action("About", "Home")%>"><i class="icon icon-list-alt"></i><span> Liste repas</span></a></li>
                            <li <%if ((Request.Url.AbsolutePath).IndexOf("CreateMeal") > 0) Response.Write("class=\"active\""); %>><a href="<%: Url.Action("About", "Home")%>"><i class="icon icon-plus-sign"></i><span> Créer repas</span></a></li>
                        </ul>
                    </li>
                    <!-- Favoris -->
                    <li <%if ((Request.Url.AbsolutePath).IndexOf("Bookmark") > 0) Response.Write("class=\"active\""); %>><a href="<%: Url.Action("Index", "Home")%>"><i class="icon icon-star"></i><span>Mes favoris</span></a></li>
                </ul>
        </div><!-- sidebar -->

        
        <div id="content">

            <asp:ContentPlaceHolder ID="FeaturedContent" runat="server" />
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />

            
        </div>
        <br />
        <!-- Footer -->
            <div class="row-fluid">
                <div id="footer" class="span12">
                    2013 &copy; WeightForIt. Brought to you by MacFive.
                </div>
            </div>
        <asp:ContentPlaceHolder ID="ScriptsSection" runat="server" />
    </body>
</html>